body{
    margin: 0;
    padding: 0;
    /* background-color: lightblue; */
    /* background-image: linear-gradient(45deg, #000000 25%, #ffffff 25%, #ffffff 50%, #000000 50%, #000000 75%, #ffffff 75%, #ffffff 100%);
background-size: 56.57px 56.57px; */
/* background-image: linear-gradient(45deg, #ff9900 25%, #000000 25%, #000000 50%, #ff9900 50%, #ff9900 75%, #000000 75%, #000000 100%);
background-size: 56.57px 56.57px; */
background-image: linear-gradient(45deg, #1a1815 25%, #000000 25%, #000000 50%, #1a1815 50%, #1a1815 75%, #000000 75%, #000000 100%);
background-size: 56.57px 56.57px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.all{
    display: flex;
    background-color: none;
    flex-direction: column;
    position: absolute;
    width: 90%;
    margin: 10px 5%;
    bottom: 0;
    overflow: hidden;
    transition: 2s;
}

.title-close{
    display: flex;
    justify-content: space-between;
}

.title-close span{
    align-self: center;
    color: white;
}

.title-close span:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

.title{
    display: flex;
    background-image: linear-gradient(#ce221b, #831917);
    width: fit-content;
}

.title p{
    color:  white;
    margin: 10px;
    width: max-content;
}

.message{
    display: flex;
    background-color:rgba(255, 255, 255, 0.8);
    
}

.message p{
    margin: 10px 10px 5px 10px;
    white-space: nowrap;
    font-size: 2rem;
    overflow-x: scroll;
    text-transform: uppercase;
}


::-webkit-scrollbar {
    height: 10px;
    background: transparent;
    padding: 0;
    margin: 0;
    top: 0;
    cursor: pointer !important;
    height: 7px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: grey;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    top: 0;
    border-radius: 3px;
}


::-webkit-scrollbar:hover {
    cursor: pointer !important;
    border: solid 1px #444;
    border-radius: 3px;
    transition: 0.5s !important;
}


.time{
    background-color: black;
    align-items: center;
    display: flex;
    place-items: center;
}

.time span{
    display: flex;
    color: white;
    margin: 10px auto;
    padding: 0 5px;
}

.time-description{
    display: flex;
    flex-direction: row;

}

.message-description{
 background-color: #feeb1a;
 width: -webkit-fill-available;
}
.message-description p{
    margin: 10px;
}

.message-description p a{
   /* color: black; */
}

/* ANIMATION */

.all {
    animation: 2s myfirst cubic-bezier(0.4, 0, 1, 1);
    animation-direction:alternate-reverse;
  animation-duration: 1.8s;
  /* animation-delay: 1s; */
  animation-timing-function: ease-in-out;
    
  }
  
  @keyframes myfirst{
    /* 0%   {  height: 0px; height: 200px;} */
    100%  {    width: 0px}
      
  }